__pycache__/
.pycache
.venv/
/results/
targets/
/tmp_download/
/cache/
/logs/
*.pyc
/slurm_logs/
.DS_Store
node_modules/
~

cfg/env.py
cfg/webapp.local.yaml

exports/
plots/

tools/

logs/webapp
ZIP
ZIP.zip


/paper/*
